<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Cursos</th>
            <th>carga-horária</th>
        </tr>
    </thead>
<tbody>
    <tr>
        <td>Pyhton</td>
        <td>50 horas</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>50 horas</td>
    </tr>
    <tr>
        <td>HTML E CSS</td>
        <td>15 horas</td>
    </tr>
    <tr>
        <td>React-Native</td>
        <td>60 horas</td>
    </tr>
    <tr>
        <td>Ionic-Angular</td>
        <td>45 horas</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>60 horas</td>
    </tr>
    <tr>
        <td>Banco de dados</td>
        <td>30 horas</td>
    </tr>
    <tr>
        <td>Progrmação para Banco de Dados</td>
        <td>60 horas</td>
    </tr>
</tbody>
</table>
